
h1 {
    font-family: 'Indie Flower';
    font-size: 48px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
  }
  
  .button {
  
  width: 7rem;
  height: 2rem;
  background-color: #e1e1e1;
  border-radius: 15px;
  cursor: pointer;
  padding: 5px 10px;
  
  
  }
  
  .button:hover {
    background-color: #ededed;
    cursor: pointer;
  }


.dark {
    color: white;
  }